<h1>Listing snippets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= snippet.name %></td>
    <td><%= snippet.owner ? snippet.owner.name : "anon" %></td>
    <td><%= snippet.body %></td>
    <td><%= link_to 'Show', snippet %></td>
    <td>
      <% if @current_user and (snippet.owner == @current_user) %>
        <%= link_to 'Edit', edit_snippet_path(snippet) %>
      <% end %>
    </td>
    <td>
      <% if @current_user and (snippet.owner == @current_user) %>
        <%= link_to 'Destroy', snippet, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snippet', new_snippet_path %>
